
body{
    margin: 0px;
    padding: 0px;
    background-color: khaki;
    
}
.box0{
    
    display: block;
    background-color: none;
}
.box1{
    display: flex;

}
@media(max-width:500px)
{
    .box1{
        display: block;
    }
}
@media(max-width:50px)
{
    .box1{
        display: block;
    }
}
.brief{
    margin: 10px;
    padding: 10px;
    background-color: lavenderblush;
}
.content{
    font-size: large;
    
}
.content ul li{
    padding: 20px;
    list-style: none;
}
    
