*{
   list-style: none;
}
body{
    margin: 0px;
    padding: 0px;
   
    
}
.box0{
    
    display: block;
}
.box1{
    display: flex;

}
@media(max-width:500px)
{
    .box1{
        display: block;
    }
}
@media(max-width:50px)
{
    .box1{
        display: block;
    }
}

    
