body{background-color: rgb(245, 245, 245);
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    display: block;
    margin: auto;
    text-align: center;
}
.body-box{
    display: flex;
    flex-direction: row;
}
.box2{
   display:block;
}
/* @media (max-width:600px)
{
    .body-box{
        flex-direction: column;
    }
    
} */

/* Bio-data Personal ---------open------------------------------*/
.brief{
    display:block;
    margin: 0px 20px 0px 10px;
    background-color: rgba(248, 135, 6, 0.493);
    border: 1px solid black;
    }
img{
    display: block;
    margin: 1fr;
    /* background-color: rgb(0, 0, 0); */
    padding: 5px;
    border-radius: 300px;
}
.brief ul{
    list-style: none;
    display: block;
    font-weight: bold;
    margin: auto;
    padding-right: 10px;
}
.brief ul li{
    padding: 10px 20px 0px 20px;
    margin: 5px 10px 10px 0px;;
}
/* Bio-data Personal --------close-----------------------*/

/* Vertical Line-------------open--------------------------------- */
.line{
    display: block;
    border-left:1px solid rgba(0, 0, 0, 0.603);
    margin-left: 10px ;
    /* padding: 2px; */
    height:auto;
}
/* Vertical Line ------------Close-------------------------------- */

/* Content------------------Open---------------------------------- */
.content{
    display: block;
}

.content ul li{
  list-style: none; 
  padding: 0px 10px 20px 10px; 
  text-align: justify;
  align-items: stretch;
  text-shadow: rgba(0, 0, 0, 0.089) 2px 2px;
}

/* Content------------------Close----------------------------------- */